<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PracticeApp</title>
</head>
<body>
    <header>

    </header>
        <main>
            @RenderBody()
        </main>

    <footer class="border-top footer text-muted">

    </footer>
</body>
</html>
